{% extends 'base.html' %} {% block title %}{% endblock title %} {% block content
%}
<div
  class="alert text-center mb-0 text-white bg-secondary"
  style="font-size: 0.5rem"
>
  Free Shipping On All Orders Above $40
</div>
<div class="h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
      <!-- <h1 class="fw-bold">Gloves Inc.</h1>
      <p class="lead">
        Cover is a one-page template for building simple and beautiful home
        pages. Download, edit the text, and add your own fullscreen background
        photo to make it your own.
      </p> -->

      <p class="lead">
        <img
          class="img-fluid"
          src="{{ url_for('static', filename='ad.jpg') }}"
        />
        <br /><br />
        <a
          href="{{url_for('profile', model='model')}}"
          class="btn btn-md btn-secondary fw-bold border-white bg-white text-dark"
          >Design Now</a
        >
      </p>
    </main>

    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="{{ url_for('static', filename='bracer.png') }}"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="{{ url_for('static', filename='ruffman.png') }}"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="{{ url_for('static', filename='superflex.png') }}"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="{{ url_for('static', filename='dexter.png') }}"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
    </div>

    <footer class="mt-auto text-white-50">
      <p>© 2022 Gloves Inc. All rights reserved.</p>
    </footer>
  </div>
</div>
{% endblock content %}
